* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
